*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
    width: max-content;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}